
<!DOCTYPE html>
<html lang="es">
<head>
    <%- include('partials/head'); %>
</head>
<body>

	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-12 mt-3">

				<h6>Ayuda</h6>

				<div class="form-group">
					<!-- <button type="submit" class="btn  btn-outline-danger btn-sm "> Reservar  </button> -->
					<a type="button" href="/cotizador"class="btn  btn-outline-secondary btn-sm"> Salir  </a>
				</div>   
			</div>
		</div>
	</div>

</body>
</html>